<div class="text-danger text-center my-5">
    <h3 class="display-3">
        <i class="fa fa-solid fa-bug-slash"></i>
        Access Denied
    </h3>
</div>

<div class="text-center">
    <div class="lead">
        You have no permission to access this page. Plase get in touch with System administor.
    </div>
    <div class="btn-group my-5">
        <a class="btn btn-outline-secondary " asp-action="Index" asp-controller="Home">Home</a>
        <a class="btn btn-outline-secondary " asp-action="Index" asp-controller="Product">Product</a>
        <a class="btn btn-outline-secondary " asp-page="/contact">Contact</a>
    </div>
</div>